<ion-header style="background-color: rgb(87, 98, 255);" [translucent]="true">
 
  <!--- <img style="margin-right:120%; margin-top: 5%"   src="assets/icon/logo.png"  height='40' width='200'/>--> 
  <ion-text style="color:white;font-size: 40px; font-family: 'Courier New', Courier, monospace;margin-left:2% ">INOVATECH </ion-text>  
  <ion-button  style="color: white;block-size:30%; margin-top:-12%; margin-left: 65%; font-size: 12px; " fill="clear"> CRIAR CONTA </ion-button>
  <ion-button  style="color:white; block-size:30%; margin-top:-11%; margin-left: 70%; font-size: 12px; " fill="clear"> LOGIN </ion-button>

  <ion-toolbar color="rgb(87, 98, 255)" >    
      <ion-buttons    slot="start">
        
        <ion-menu-button  style="background-color: rgb(87, 98, 255); margin-top: -30%;" ></ion-menu-button> 
        
      </ion-buttons>
    
      <!-- Barra de  pesquisa -->
     
        <ion-searchbar style="margin-top: -5%; " (ionChange)="getItems($event)" placeholder='Pesquisar' showCancelButton="focus"></ion-searchbar>
        <ion-list *ngIf="isItemAvailable"> <!-- TEMOS QUE INSERIR OS ITEM E O NOMES DOS MESMO PARA DEPOIS APARECER A SUGESTAO-->
          <ion-item *ngFor="let item of items">{{ item }}</ion-item>
        </ion-list>
        <ion-buttons>
            <ion-button  style="background-color: rgb(87, 98, 255);color:rgb(255, 255, 255);margin-left: 80% ; margin-top:-15%"  ion-button outline item-end  ion-button (click)="carrinho()">
            <ion-icon  name="cart"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  
  </ion-header>
  
<ion-content>
  <ion-slides  style="margin-top:0%;" >
    <ion-slide >
     
      <img  src="assets/aspi.jpg"  style="width:100%;height:auto" >
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
            <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
