ion-menu-button {
  background-color: rgb(87, 98, 255);
  color:white;
}


#container strong {
  font-size: 20px;
  line-height: 26px;
  background-color: rgb(87, 98, 255);
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;

}

#container a {
  text-decoration: none;
  background-color: rgb(87, 98, 255);
}

ion-searchbar {
color : #141313;
border-radius: 15px;
height: 60px ;
max-width: 250px;
font-size: 1.25em;
border: 1px solid transparent;

  }




.btn {
    color: 61, 66, 150, 1,
  
  }
  
  .btn1 {
    border-color: black;
    color: black;
  
  }
  
  .isActive {
    color: red;
  }
  .isActives {
  color: rgb(248, 95, 95);
  
  }
  .custom-fab {
    width: 20px;
    height: 20px;
 
}