<!--"CABEÇALHO"-->
<ion-header style="background-color: rgb(61, 66, 150, 1);" [translucent]="true">
  <!--- <img style="margin-right:120%; margin-top: 5%"   src="assets/icon/logo.png"  height='40' width='200'/>-->
  <ion-text style="color:white;font-size: 40px; font-family: 'Courier New', Courier, monospace;margin-left:2% ">
    INOVATECH </ion-text>
    <ion-button style="color: white;block-size:30%; margin-top:-12%; margin-left: 64%; font-size: 11px; "
    [routerLink]="['/login']" fill="clear">  INICIAR SESSÃO <br>  OU CRIAR CONTA </ion-button>

  <ion-toolbar color="rgb(87, 98, 255)">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: rgb(61, 66, 150, 1); margin-top: -30%;"></ion-menu-button>
    </ion-buttons>

    <!-- Barra de  pesquisa -->

    <ion-searchbar style="margin-top: -5%; " (ionChange)="getItems($event)" placeholder='Pesquisar'
      showCancelButton="focus"></ion-searchbar>
    <ion-list *ngIf="isItemAvailable">
      <!-- TEMOS QUE INSERIR OS ITEM E O NOMES DOS MESMO PARA DEPOIS APARECER A SUGESTAO-->
      <ion-item *ngFor="let item of items">{{ item }}</ion-item>
    </ion-list>
    <ion-buttons>
      <ion-button
        style="background-color: rgb(61, 66, 150, 1);color:rgb(255, 255, 255);margin-left: 80% ; margin-top:-15%"
        ion-button outline item-end ion-button (click)="carrinho()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-button color="roxo" style="background-color: rgba(161, 165, 241, 0.425);color:rgb(255, 255, 255)"
    expand="full" (click)="voltar()">
    <ion-icon style="margin-right:0%;" name="arrow-back-outline"></ion-icon>
    VOLTAR
  </ion-button>
</ion-header>


<ion-content>

  <ion-button (click)="check()" color="roxo" fill="outline" style="margin-left: 13%;margin-top: 10%;"  >Filtro</ion-button>

  <ion-button (click)="check()" color="roxo" fill="outline" style="margin-left: 20%; margin-top: 10%;"  >Ordenar</ion-button>
  <div color="roxo" >
    <ion-row>
      <ion-col>
        <ion-card class="main-card"   [routerLink]="['/aspirador']" >
          <ion-card-title style="text-align: center;"> Irobot</ion-card-title>
          
          <ion-card-content>
            <ion-row class="ion-justify-content-center">
              <img src="assets/aspi.jpg">
                </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text> Aspirador Irobot 
                <br> <strong>Preço: </strong> 400,00€
              </ion-text>
            </ion-row>
            <ion-button  expand ="full "size ="small"color="dark" fill="outline"   >Ver mais</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>


<ion-col>
      <ion-card class="main-card"   [routerLink]="['/aspirador']" >
        <ion-card-title style="text-align: center;"> Aspirobo </ion-card-title>
        
        <ion-card-content>
          <ion-row class="ion-justify-content-center">
            <img src="assets/slide/aspi.jpg">
              </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-text> Aspirador Irobot 
              <br> <strong>Preço: </strong> 500,00€
            </ion-text>
          </ion-row>
          <ion-button  expand ="full "size ="small"color="dark" fill="outline"   >Ver mais</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  
  
<ion-col>
  <ion-card class="main-card"   [routerLink]="['/aspirador']" >
    <ion-card-title style="text-align: center;"> Aspi </ion-card-title>
    
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <img src="assets/aspirador.jpg">
          </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-text> Aspirador Irobot 
          <br> <strong>Preço: </strong> 600,00€
        </ion-text>
      </ion-row>
      <ion-button  expand ="full "size ="small"color="dark" fill="outline"   >Ver mais</ion-button>
    </ion-card-content>
  </ion-card>
</ion-col>


<ion-col>
  <ion-card class="main-card"   [routerLink]="['/aspirador']" >
    <ion-card-title style="text-align: center;"> Arobo </ion-card-title>
    
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <img src="assets/aspi2.jpg">
          </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-text> Aspirador Irobot 
          <br> <strong>Preço: </strong> 700,00€
        </ion-text>
      </ion-row>
      <ion-button  expand ="full "size ="small"color="dark" fill="outline"   >Ver mais</ion-button>
    </ion-card-content>
  </ion-card>
</ion-col>

  
  
    </ion-row>
    <ion-row>
    
    </ion-row>
  </div>
</ion-content> 