<ion-header style="background-color: #3d4296;" [translucent]="true">
  <ion-text style="color:white;font-size: 40px; font-family: 'Courier New', Courier, monospace;margin-left:2% ">
    INOVATECH </ion-text>
    <ion-button style="color: white;block-size:30%; margin-top:-12%; margin-left: 64%; font-size: 11px; "
    [routerLink]="['/login']" fill="clear">  INICIAR SESSÃO <br>  OU CRIAR CONTA </ion-button>
  <ion-toolbar color="rgb(87, 98, 255)">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: rgb(61, 66, 150, 1); margin-top: -30%;"></ion-menu-button>
    </ion-buttons>

    <!-- Barra de  pesquisa -->

    <ion-searchbar style="margin-top: -5%; " (ionChange)="getItems($event)" placeholder='Pesquisar'
      showCancelButton="focus"></ion-searchbar>
    <ion-list *ngIf="isItemAvailable">
      <!-- TEMOS QUE INSERIR OS ITEM E O NOMES DOS MESMO PARA DEPOIS APARECER A SUGESTAO-->
      <ion-item *ngFor="let item of items">{{ item }}</ion-item>
    </ion-list>
    <ion-buttons>
      <ion-button
        style="background-color: rgb(61, 66, 150, 1);color:rgb(255, 255, 255);margin-left: 80% ; margin-top:-15%"
        (click)="openCart()">
        <ion-badge color="roxo" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon size="large" slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
    
  <ion-button routerLink="/conta" color="roxo" style="background-color: rgba(161, 165, 241, 0.425);color:rgb(255, 255, 255)"
    expand="full">
    <ion-icon style="margin-right:0%;" name="arrow-back-outline"></ion-icon>
    VOLTAR
  </ion-button>
</ion-header>

<ion-content>
  <div style="text-align:center ;">
    <h1>Favoritos</h1>
  </div>




  <ion-grid fixed>
    <ion-row>
      <ion-col>

        <ion-card class="main-card">
          <ion-card-title style="text-align: center;"> Aspirobo </ion-card-title>
          <ion-card-content>

            <div [routerLink]="['/aspirador']">
              <img src="assets/slide/aspi.jpg">


              <div class="ion-justify-content-center">
                <ion-text> Aspirador Irobot
                  <br> <strong>Preço: </strong> 500,00€
                </ion-text>
              </div>

            </div>

            <ion-checkbox></ion-checkbox>Selecionar

          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col>

        <ion-card class="main-card">
          <ion-card-title style="text-align: center;"> Irobot </ion-card-title>
          <ion-card-content>

            <div [routerLink]="['/aspirador']">
              <img src="assets/aspi.jpg">


              <div class="ion-justify-content-center">
                <ion-text> Aspirador Irobot
                  <br> <strong>Preço: </strong> 400,00€
                </ion-text>
              </div>

            </div>

            <ion-checkbox></ion-checkbox>Selecionar
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-fab style="margin-left:30% ;">
          <ion-fab-button color="roxo">Partilhar</ion-fab-button>

          <ion-fab-list side="end">
            <ion-fab-button (click)="sharesuc()">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>

          <ion-fab-list side="bottom">
            <ion-fab-button (click)="sharesuc()">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>

          <ion-fab-list side="start">
            <ion-fab-button (click)="sharesuc()">
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>


      <ion-col size="6">
        <ion-fab style="margin-left:30% ;">
          <ion-fab-button color="roxo" (click)="sharesuc()">Excluir</ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
