<!--Pagina dos filtros -->
<ion-header>
  <ion-toolbar>
    <ion-button (click)="produtos()" fill="clear" color="roxo">
      <ion-icon name="arrow-back-outline"> </ion-icon> Voltar
      <ion-title color="dark" style="text-align: center;">Filtro</ion-title>
    </ion-button>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <!-- Checkbox Colors -->
      <ion-label>Ordem crescente</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>

    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <!-- Checkbox Colors -->
      <ion-label>Ordem decrescente</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>

    </ion-item>
  </ion-list>

  <ion-text style="margin-left: 10%;"><strong>Marca</strong></ion-text>
  <br>
  <ion-list>
    <ion-item>
      <!-- Checkbox Colors -->
      <ion-label>Aspi</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>

    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <!-- Checkbox Colors -->
      <ion-label>Ias</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>

    </ion-item>
  </ion-list>


  <ion-text style="margin-left: 10%;"><strong>Cor</strong></ion-text>
  <br>
  <ion-list>
    <ion-item>
      <!-- Checkbox Colors -->
      <ion-label>Amarelo</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>

    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <!-- Checkbox Colors -->
      <ion-label>Branco</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>

    </ion-item>
  </ion-list>
</ion-content>
