<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Meu carrinho</ion-title>
  </ion-toolbar>
</ion-header>
<!--Adicionar item ao carrinho, sendo que vai buscar ao ficheiro-->
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of selectedItems" lines="inset">
      {{ item.count }}x {{ item.name }} - {{ item.price | currency:'EUR':'symbol' }}
      <ion-label slot="end" text-right>{{ (item.price * item.count) | currency:'EUR':'symbol' }}</ion-label>
      <button slot="end" fill="clear" (click)="removeItem(itm)">
        <ion-icon name="trash-outline"></ion-icon>
      </button>

    </ion-item>


<!--O total é a conta efetuar ao inicio -->
    <ion-item>
      Total: <span slot="end">{{ total | currency:'EUR':'symbol' }}</span> 
    </ion-item>
  </ion-list>
  <!--Redirecionado para a pagina dos pagamentos-->
  <ion-button routerLink="/pagar" routerDirection="forward" expand="full" fill="outline" color="roxo" size="small">
    Efetuar Pagamento
  </ion-button>
</ion-content>
