ion-menu-button {
  background-color: rgb(87, 98, 255);
  color:white;
}


#container strong {
  font-size: 20px;
  line-height: 26px;
  background-color: rgb(87, 98, 255);
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;

}

#container a {
  text-decoration: none;
  background-color: rgb(87, 98, 255);
}

ion-searchbar {
color : #141313;
border-radius: 15px;
height: 60px ;
max-width: 250px;
font-size: 1.25em;
border: 1px solid transparent;

  }


.grid1 {
    height: 100%;
    padding: 0px;
}




.row1 {
    height: 50%;
    background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
    background: linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
}

.row2 {
    height: 50%;
}

.contaier-login {
    width: 90%;
    margin-top: -115%;
    margin-left: 5%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
